// Override / set color variables
$white: #fff;
$black: #000;

$body-bg: #e4e4e4;

// Set brand colors
$primary: #2e5da7;
$secondary: #17a2b8;

$success: #138526;
$info: #368ec7;
$warning: #f26c22;
$danger: #e5001e;